In [ ]:
import pandas as pd

#df1 = pd.read_csv("C:\\Users\\niels\\Downloads\\expedia-personalized-sort\\data\\train.csv")
df2 = pd.read_csv("C:\\Users\\niels\\OneDrive\\Documenten\\GitHub\\Data2\\new model\\datasets\\train.csv")

In [ ]:
import numpy as np
import math

def func(x, a, b, c):
    return a * (1 / (x**b)) + c

np.arange(df2["position"].max() + 1)

60         4.0
61         6.0
62         2.0
63         1.0
64         3.0
          ...
4958342    2.0
4958343    3.0
4958344    4.0
4958345    1.0
4958346    6.0
Name: position, Length: 3491170, dtype: float64

In [ ]:
import numpy as np
from deepdiff import DeepDiff
u1 = np.unique(df1.srch_id)
u2 = np.unique(df2.srch_id)

removed = DeepDiff(u1, u2)['iterable_item_removed'].values()
df1[df1["srch_id"].isin(removed)].to_csv("testset.csv")

   a  b
0  1  5